rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // =========================
    // ADMIN CHECK
    // =========================
    function isAdmin() {
      return request.auth != null
        && exists(
          /databases/$(database)/documents/admins/$(request.auth.uid)
        );
    }


    // =========================
    // PRODUCTS
    // =========================
    match /products/{productId} {

      // Customer boleh melihat produk
      allow read: if true;

      // Hanya admin yang boleh mengubah produk
      allow create, update, delete: if isAdmin();
    }


    // =========================
    // VOUCHERS
    // =========================
    match /vouchers/{voucherId} {

      // Customer boleh membaca voucher
      // agar kode voucher dapat diperiksa ketika checkout.
      allow read: if true;

      // Hanya admin yang boleh membuat,
      // mengubah, atau menghapus voucher.
      allow create, update, delete: if isAdmin();
    }


    // =========================
    // TRANSACTIONS
    // =========================
    match /transactions/{invoiceId} {

      // Customer membuat order baru.
      allow create: if
        request.resource.data.invoice_id == invoiceId
        && request.resource.data.status == "WAITING_PAYMENT"
        && request.resource.data.quantity is int
        && request.resource.data.quantity > 0
        && request.resource.data.product_id is string
        && request.resource.data.roblox_username is string
        && request.resource.data.customer_email is string;

      // Customer boleh melihat transaksi berdasarkan invoice.
      allow get: if true;

      // Hanya admin yang boleh melihat daftar semua transaksi.
      allow list: if isAdmin();

      // Hanya admin yang boleh mengubah atau menghapus transaksi.
      allow update, delete: if isAdmin();
    }


    // =========================
    // ADMINS
    // =========================
    match /admins/{uid} {

      // Admin hanya boleh membaca dokumen admin miliknya sendiri.
      allow read: if request.auth != null
        && request.auth.uid == uid;

      // Dokumen admin tidak boleh dibuat/diubah dari website.
      allow write: if false;
    }


    // =========================
    // DEFAULT DENY
    // =========================
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
